{% extends 'app/base.html' %} 
{% load static %} 
{% block title %} {{val.title}} {%endblock title %} 
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        {% for val in title %}
        <a
          href="{% url 'category-title' val.title %}"
          class="list-group-item list-group-item-action"
          aria-current="true"
          >{{val.title}}</a
        >
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-9 p-6">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for prod in product %}
               <div class="col">
                <a href="{% url 'product-detail' prod.id %}" class="btn">
                    <div class="card">
                        <img src="{{ prod.product_image.url}}" class="card-img-top" alt="product-image">
                        <div class="card-body">
                          <h5 class="card-title">{{prod.title}}</h5>
                          <div class="text-success">
                            ${{prod.discount_price}}/- <small class="text-light text-muted text-decoration-line-through">${{prod.selling_price}}</small>
                          </div>
                        </div>
                        <div class="card-footer text-center">
                            <small class="text-body-secondary">Cargo Free</small>
                        </div>
                    </div>
                </a>
               </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock main-content %}
