{% extends 'app/base.html' %}
{% load static %}
{% block title %} Contact Us{% endblock title %}
{% block main-content %}
<div class="mt-0 mb-2">
    <img src="{% static 'app/images/contact-us.png' %}" class="w-100" alt="">
</div>
<div class="container my-5">
  <div class="card-group">
    <div class="card">
      <iframe class="w-100 h-100" src="https://www.google.com/maps/d/embed?mid=11Y2vufmAUYWOLo3LJoRXyTh6bgo&hl=en_US&ehbc=2E312F"></iframe>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meet Us</h5>
        <ul class="list-unstyled">
          <li><a href="tel:+123456789" class="text-decoration-none text-dark fw-bold"><i class="bi bi-telephone-fill text-success"></i> 123456789</a></li>
          <li><a href="mailto:contact@example.com" class="text-decoration-none text-dark fw-bold"><i class="bi bi-envelope-at-fill text-success"></i> contact@tecommerce.com</a></li>
          <li class="text-dark fw-bold"><a href="https://www.google.com/maps/d/viewer?mid=11Y2vufmAUYWOLo3LJoRXyTh6bgo&hl=en_US&ll=43.73757901783415%2C7.427050244388584&z=18" class="text-decoration-none text-dark"><i class="bi bi-geo-alt-fill text-success"></i> Lorem, ipsum dolor sit amet consectetur adipisicing. No:7/8</a></li>
        </ul>
      </div>
    </div>
    <div class="card bg-dark text-white">
      <div class="card-body">
        <h5 class="card-title">Pitch Us</h5>
        <p class="card-text">If you want to pitch us. Click button and send mail.</p>
        <a href="mailto:contact@mail.com" class="btn btn-info text-white">Send</a>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}