{% load static %}
<footer class="text-center text-lg-start border-top border-success">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="font-bold text-danger">T-eCommerce</h5>
        <p style="text-align:justify">
          Whether you're a seasoned software developer or just starting in the
          industry, T-eCommerce has something for everyone. Our platform offers
          a variety of products to suit any budget, so you can find the right
          tools for your needs. So why wait? Browse our selection of software
          development products today and take your skills to the next level!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-success">Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="btn text-decoration-none">Home</a></li>
          <li><a href="#!" class="btn text-decoration-none">About Us</a></li>
          <li><a href="#!" class="btn text-decoration-none">Privacy Policy</a></li>
          <li><a href="#!" class="btn text-decoration-none">Services Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-center mb-0 text-success">Social Media</h5>
        <ul class="list-unstyled d-flex mt-2 text-center justify-content-center align-items-center">
          <li><a href="#!" class="btn"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#!" class="btn"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#!" class="btn"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#!" class="btn"><i class="bi bi-youtube"></i></a></li>
          <li><a href="#!" class="btn"><i class="bi bi-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center" style="background-color: rgb(68, 68, 68);">
    <div class="container">
      <div class="p-1">
        <ul class="list-unstyled pt-2 d-flex justify-content-center align-items-center" style="font-size: 24px; gap: 15px;">
          <li class="p-1"><i class="fa-brands fa-cc-mastercard"></i></li>
          <li class="p-1"><i class="fa-brands fa-cc-visa"></i></li>
          <li class="p-1"><i class="fa-brands fa-cc-paypal"></i></li>
          <li class="p-1"><i class="fa-brands fa-apple-pay"></i></li>
          <li class="p-1"><i class="fa-brands fa-amazon-pay"></i></li>
          <li class="p-1"><i class="fa-brands fa-google-pay"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 1)">
   Copyright © 2023 T-eCommerce, by <a href="http://tunahantatli.com" class="text-decoration-none text-danger">Tunahan Tatlı</a>
  </div>
</footer>
