{% extends "app/base.html" %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h1>orders</h1>
    <h2>orders in here if I add payment method :D</h2>

    <div class="row">
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
        <div class="col-lg-3 mt-3"><div class="card"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, necessitatibus!</p></div></div>
    </div>
</div>
{% endblock main-content %}