{% extends "app/base.html" %}
{% load static %} 
{% block title %}Complete Reset Password{%endblock title %} 
{% block main-content %}
<div class="container my-5">
  <div class="row">
 
    <div class="col-sm-8 offset-sm-1">
      <h4 class="text-success text-capitalize">
        password has been reset successfully!
      </h4>
      <div
        class="tenor-gif-embed"
        data-postid="15564927"
        data-share-method="host"
        data-aspect-ratio="1.61616"
        data-width="100%"
      >
        <a
          href="https://tenor.com/view/done-im-done-finish-family-guy-peter-griffin-gif-15564927"
          >Done Im Done GIF</a
        >from <a href="https://tenor.com/search/done-gifs">Done GIFs</a>
      </div>
      <script
        type="text/javascript"
        async
        src="https://tenor.com/embed.js"
      ></script>
    </div>
  </div>
</div>
{% endblock main-content %}
