{% extends "app/base.html" %}
{% load static %}
{% block title %} Password Reset Confirmation {% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-4">
        <div class="col-sm-6 offset-sm-3">
            <h6>Password Reset Confirmation</h6>
            <hr>
            
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                   {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                   <br>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                       <p class="alert alert-warning">{{error}}</p>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                  {% for msg in messages %}
                   <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                   </div>
                   {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}