{% extends "app/base.html" %}
{% load static %}
{% block title %}Search Results{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for prod in product %}
        <a href="{% url 'product-detail' prod.id %}" class="text-decoration-none">
            <div class="col">
                <div class="card">
                  <img src="{{prod.product_image.url}}" class="card-img-top" alt="..." width="300px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title">{{prod.title}}</h5>
                    <p class="card-text text-success">$. {{prod.discount_price}}   <small class="text-danger text-decoration-line-through">$. {{prod.selling_price}}</small></p>
                  </div>
                </div>
              </div>
        </a>
        {% endfor %}
        
    </div>
</div>
{% endblock main-content %}